# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Jupyter notebooks
.ipynb_checkpoints/

# Streamlit cache & logs
.streamlit/
node_modules
-e ".venv/\n__pycache__/\n*.pyc"  
